#container{
    display: flex;
    flex-direction: row-reverse;
    
    fa-icon{
        color: gray;
        cursor: pointer;
    
        &.rated,
        &:hover ~ fa-icon,
        &:hover{
            color: gold
        }
    }
}
